<div class="container-fluid">

    <div class="row">
      <div class="col-md-12" id="addform">
          <form id="addmusic">
            <label for="inputSongName">Song Name: </label>
            <input type="text" placeholder="Song Name" id="inputSongName" ng-model="inputSongName"></input><br>
            <label for="inputArtistName">Artist Name: </label>
            <input type="text" placeholder="Artist Name" id="inputArtistName" ng-model="inputArtistName"></input></br>
            <label for="inputAlbumName">Album Name: </label>
            <input type="text" placeholder="Album Name" id="inputAlbumName" ng-model="inputAlbumName"></input><br>
          </form>
          <a href="#/"><button id="addMusicBtn" ng-click="addnewSong()">Add Music</button></a>
          <a href="/#/">Return to Song Listings</a>
      </div>
    </div>

</div>
