<label for="artist-option">Artist:</label>
	<br>
    <select name="artist-option">
          <option>Options</option>
          {{#each songs}}
	          <option>{{author}}</option>
		  {{/each}}
	</select>
	<br>
    <label for="album-option">Album:</label>
    <br>
    <select name="album-option">
		<option>Options</option>
	    {{#each songs}}
	    <option>{{album}}</option>
		{{/each}}
    </select><br>
     <button id="filter-button" class="">Filter</button>
     <button id="reset-filter">Reset</button>
   