<label for="artist-option">Artist:</label>
	<br>
    <select name="artist-option">
          <option>Options</option>
          {{#each songs}}
	          <option>{{author}}</option>
		  {{/each}}
	</select>
	<br>
    <label for="album-option">Album:</label>
    <br>
    <select name="album-option">
		<option>Options</option>
	    {{#each songs}}
	    <option>{{album}}</option>
		{{/each}}
    </select>
     <input type="button" name="filter" value="Filter" class="filter-button">