{{#each songs}}

<div class='content-song'>{{title}}</div>
	<div class='content-artist'><em>By: </em>{{author}}<span class='content-album'><em>off the album: </em></span>{{album}}
		<button class='delete'><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
	</div>
{{/each}}
{{!-- <button id='more'><span class="glyphicon glyphicon-arrow-right"></span></button> --}}